apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "nginx.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "nginx.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nginx.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: copy-static-files
          image: "{{ .Values.web.image.repository }}:{{ .Values.web.image.tag | default "latest" }}"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c"]
          args:
            - |
              echo "Copying Django static files (excluding dist/) to emptyDir volume..."
              cd /app/django/static
              for item in *; do
                if [ "$item" != "dist" ]; then
                  cp -rv "$item" /static-files/ || true
                fi
              done
              echo "Django static files copy completed."
          volumeMounts:
            - name: static
              mountPath: /static-files
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "nginx.fullname" . }}-config
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
            - name: https
              containerPort: 443
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: {{ .Values.service.port | default "80" }}
            periodSeconds: 5
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /nginx-healthz/
              port: {{ .Values.service.port | default "80" }}
            initialDelaySeconds: 10    # 컨테이너 시작 후 20초 후에 Probe 시작
            periodSeconds: 30          # 30초마다 상태 확인
            timeoutSeconds: 5          # 5초 후에 실패로 간주
            failureThreshold: 5        # 몇 번 실패해야 Pod를 Ready 상태가 아니라고 판단할 것인지
            successThreshold: 1        # 몇 번 성공해야 Ready 상태로 간주할 것인지
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.port | default "80" }}
            initialDelaySeconds: 20    # 최초 20초 후에 LivenessProbe 체크를 시작함
            periodSeconds: 30           # 30초마다 LivenessProbe 체크
            timeoutSeconds: 5           # 5초 후에 실패로 간주
            failureThreshold: 5         # 5번 실패시 Pod Restart
            successThreshold: 1         # 몇 번 성공해야 Ready 상태로 간주할 것인지
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              readOnly: true
              subPath: nginx.conf
            - name: conf-d
              mountPath: /etc/nginx/conf.d
              readOnly: true
            - name: static
              mountPath: /django/static
            - name: vue-frontend-nfs
              mountPath: /django/static/dist
              readOnly: true
            - name: media
              mountPath: /django/media
            - name: tz-seoul
              mountPath: /etc/localtime
      volumes:
        - name: nginx-conf
          configMap:
            name: {{ include "nginx.fullname" . }}-config
            items:
              - key: NGINX.CONF
                path: nginx.conf
        - name: conf-d
          configMap:
            name: {{ include "nginx.fullname" . }}-config
            items:
              - key: LOG.CONF
                path: log.conf
              - key: UPSTREAM.CONF
                path: upstream.conf
              - key: PUBLIC.CONF
                path: public.conf
        - name: static
          emptyDir: {}
        - name: vue-frontend-nfs
          nfs:
            server: {{ .Values.global.nfsServerHost }}
            path: {{ .Values.global.nfsPath }}/{{ .Values.global.appMode }}/app/django/static/dist
        - name: media
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-{{ include "nginx.fullname" . }}-{{ .Values.global.appMode }}-media-pvc
        - name: tz-seoul
          hostPath:
            path: /usr/share/zoneinfo/Asia/Seoul
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
