apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-{{ include "nginx.fullname" . }}-{{ .Values.global.appMode }}-media-pv
spec:
  storageClassName: {{ include "nginx.fullname" . }}-media-{{ .Values.global.appMode }}
  capacity:
    {{- if eq .Values.global.appMode "prod" }}
    storage: {{ .Values.volumes.mediaStorageProd }}
    {{- else if eq .Values.global.appMode "dev" }}
    storage: {{ .Values.volumes.mediaStorageDev }}
    {{- end }}
  accessModes:
    {{- range .Values.volumes.RWMAccessModes }}
    - {{ . }}
    {{- end }}
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: {{ .Values.global.nfsPath }}/{{ .Values.global.appMode }}/app/django/media
    server: {{ .Values.global.nfsServerHost }}
