apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "web.fullname" . }}-config
  labels:
    {{- include "web.labels" . | nindent 4 }}
data:
  DATABASE_TYPE: "{{ .Values.global.dbType }}"
  DATABASE_NAME: "{{ .Release.Name }}"
  DATABASE_USER: "{{ .Release.Name }}"
  DOMAIN_HOST: "{{ .Values.global.domainHost }}"
  EMAIL_HOST: "{{ .Values.global.emailHost }}"
  EMAIL_HOST_USER: "{{ .Values.global.emailHostUser }}"
  DEFAULT_FROM_EMAIL: "{{ .Values.global.defaultFromEmail }}"
  NAMESPACE: "{{ .Release.Namespace }}"

  {{- with  .Values.imageConfigMaps }}
  DJANGO_SETTINGS_MODULE: "{{ .djangoSettingsModule }}"
  AWS_STORAGE_BUCKET_NAME: "{{ .awsStorageBucketName }}"
  AWS_ACCESS_KEY_ID: "{{ .imageSecrets.awsAccessKeyId }}"
  AWS_SECRET_ACCESS_KEY: "{{ .imageSecrets.awsSecretAccessKey }}"
  {{- end }}
