apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-{{ include "web.fullname" . }}-{{ .Values.global.appMode }}-git-repos-pv
spec:
  storageClassName: {{ include "web.fullname" . }}-repo-{{ .Values.global.appMode }}
  capacity:
    storage: {{ if eq .Values.global.appMode "prod" }}500Mi{{ else if eq .Values.global.appMode "dev" }}200Mi{{ end }}
  accessModes:
    - ReadWriteMany
  nfs:
    path: {{ .Values.global.cicdPath }}/{{ .Values.global.appMode }}/app/repos
    server: {{ .Values.global.cicdServerHost }}
