apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-{{ include "web.fullname" . }}-{{ .Values.global.appMode }}-django-pvc
  annotations:
    "helm.sh/hook": pre-upgrade,pre-install
    "helm.sh/hook-weight": "-10"
spec:
  storageClassName: {{ include "web.fullname" . }}-app-{{ .Values.global.appMode }}
  accessModes:
  {{- range .Values.volumes.djangoAccessModes }}
    - {{ . }}
  {{- end }}
  resources:
    requests:
    {{- if eq .Values.global.appMode "prod" }}
      storage: {{ .Values.volumes.djangoPvcStorageProd }}
    {{- else if eq .Values.global.appMode "dev" }}
      storage: {{ .Values.volumes.djangoPvcStorageDev }}
    {{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-{{ include "web.fullname" . }}-{{ .Values.global.appMode }}-git-repos-pvc
  annotations:
    "helm.sh/hook": pre-upgrade,pre-install
    "helm.sh/hook-weight": "-10"
spec:
  storageClassName: {{ include "web.fullname" . }}-repo-{{ .Values.global.appMode }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ if eq .Values.global.appMode "prod" }}500Mi{{ else if eq .Values.global.appMode "dev" }}200Mi{{ end }}
