apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-{{ include "web.fullname" . }}-{{ .Values.global.appMode }}-git-repos-pvc
spec:
  storageClassName: {{ include "web.fullname" . }}-repo-{{ .Values.global.appMode }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ if eq .Values.global.appMode "prod" }}500Mi{{ else if eq .Values.global.appMode "dev" }}200Mi{{ end }}
