boto3
celery[redis]
crispy-bootstrap4
Django

django-admin-rangefilter
django-allauth
django-crispy-forms
django-filter
django-import-export
django-redis
django-markdown2
django-mathfilters
django-mdeditor
django-storages
django-widget-tweaks

djangorestframework
djangorestframework-simplejwt

GitPython
gunicorn

psycopg2

openpyxl
Pillow

python-decouple
python-magic
redis
requests

tablib[xlsx]
WeasyPrint
XlsxWriter
xlwt
